# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS
.DS_Store

# Astro
.astro/

# local images handled by Cloudinary
public/images/**/*.png
public/images/**/*.jpg
public/images/**/*.jpeg
public/images/**/*.gif
public/images/**/*.webp
public/images/**/*.avif
public/images/**/*.bmp
public/images/**/*.tiff
!public/images/**/.gitkeep
